*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    /* align-items: center; */
    padding-top: 30px;
    justify-content: center;
    /* background: #FEA116; */
    background:  url(../img/about-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
}

.bodyyy{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #FEA116; */
    background:  url(../img/about-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
}

.bodyy {
    height: 170vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #FEA116; */
    background:  url(../img/about-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    direction: rtl;
}

.login{
    width: 500px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: white;
    color: #000000;
}
.Sign{
    width: 500px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: white;
    color: #000000;
    
}
.login h1{
    font-size: 35px;
    margin-bottom: 25;
}

.login form {
    font-size: 20px;
}

.login form .form-group{
    margin-bottom: 12px;
}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
}